@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #155dfc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .textField__input {
    @apply w-full py-3 px-4 rounded-xl bg-gray-100 text-gray-200 border border-gray-100 outline-none duration-200 transition-all ease-in-out hover:border-blue-300 focus:outline-none focus:border-blue-300 focus:shadow-lg focus:bg-white;
  }
  .btn {
    @apply px-2 py-1 font-bold rounded-2xl transition-all duration-300;
  }
  .btn--primary {
    @apply px-4 py-3 bg-blue-400 text-white hover:bg-blue-800 shadow-lg;
  }
  .btn--red {
    @apply px-4 py-3 bg-red-500 text-white hover:bg-red-800 shadow-sm;
  }
  .table__th {
    @apply border-b-2 border-b-gray-500 font-medium p-3 pr-8 pb-3 text-right;
  }
  .table__td {
    @apply border-b  border-b-gray-300 p-3 pr-8 pb-3 text-right;
  }
  .badge {
    @apply whitespace-nowrap px-3 py-1 rounded-xl;
  }
  .badge--primary {
    @apply bg-blue-900 text-white;
  }
  .badge--red {
    @apply bg-red-500 text-white;
  }
  .badge--secondary {
    @apply bg-gray-600 text-white;
  }
  .badge--success {
    @apply bg-green-600 text-white;
  }
  .badge--error {
    @apply bg-rose-600 text-white;
  }
  .scrollbar-none::-webkit-scrollbar {
    width: 0 !important;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
  display: none !important;
}
